/* copied from AD (https://github.com/IvarK/IvarK.github.io/blob/master/stylesheets/styles.css) */
/* dont wanna get copyrighted and get oblitirated */
@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xBEur64QvLD-0IbiAdTUNXE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: Typewriter;
    src: url('MonospaceTypewriter.ttf');
}
* {
    font-family:Typewriter;
    font-size:20px;
}
.simpbutt {
    border-width: 5px;
    border: 2px solid #4980cc;
    background-color: #e0e0e0;
    border-radius:4px;
    font-weight: 600;
    transition:0.2s
}
.simpbutt:hover {
  background-color: #4980cc;
  color: #ffffff
}
button {
    padding: 1px 6px;
    outline: none
}
ul {
  display: block;
  list-style-type: none;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}
hr {
    border:1.5px solid
}
.man {
    font-weight: bold;
    font-size: 50px
}
.bb {
    border-radius: 3.1px;
    background:#f2f2f2;
    transition: 0.2s;
}
.mf {
    left: 50%;
    -ms-transform:translateX(-50%);
    transform: translateX(-50%);
    margin: 0;
    position: absolute;
    width:300px;
    height:120px;
}
.av {
    border: 2px solid #127a20;
}
.av:hover {
    background: limegreen;
    border: 2px solid #127a20;
}
.uav {
    border: 2px solid #b84b5f;
}
.uav:hover {
    background: #b84b5f;
    border: 2px solid #b84b5f;
}
.mf {
    border: 2px solid #4980cc;
    border-radius:5px;
    transition: 0.2s;
    font-weight:bold;
}
.mf:hover {
    background-color: #4980cc;
    color: #ffffff
}
.ub {
    width:30%;
    height:190px
}

